altgraph==0.17.4
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
darkdetect==0.8.0
docopt==0.6.2
fonttools==4.54.1
imageio==2.36.0
kiwisolver==1.4.7
lazy_loader==0.4
matplotlib==3.7.1
natsort==8.4.0
networkx==3.4.2
numpy==1.24.3
opencv-python==4.7.0.72
packaging==24.1
pillow==11.0.0
pycine @ git+https://github.com/ottomatic-io/pycine.git@815cfca06cafc50745a43b2cd0168982225c6dca
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyWavelets==1.7.0
scikit-image==0.20.0
scipy==1.14.1
six==1.16.0
tifffile==2023.4.12
timecode==1.4.1
tqdm==4.65.0
ttkthemes==3.2.2
ttkwidgets==0.13.0
